## ignore macOS files
.DS_Store
**/.DS_Store


## ignore python notebook checkpoints
.ipynb_checkpoints/
**/.ipynb_checkpoints/

## ignore datasets to keep repo small
datasets/*

## ignore jekyll folders
_site
.sass-cache
.jekyll-cache/
.jekyll-metadata
vendor
*.swp
*.swo
